<h1 class="heading-medium">
  Which part of the Housing Act was your license issued under?
</h1>
<p>
  Select one of the options below.
</p>

<form>
  <fieldset>

    <legend class="visuallyhidden">Which part of the Housing Act was your license issued under?</legend>

    <label for="radio-part-2" class="block-label">
      <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
      <span class="heading-small">Part 2 of the Housing Act 2004</span><br>
      For properties that are 3 or more stories high and occupied by 5 or more people
    </label>

    <label for="radio-part-3" class="block-label">
      <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
      <span class="heading-small">Part 3 of the Housing Act 2004</span><br>
      For properties that are within a geographical area defined by a local council
    </label>

  </fieldset>
</form>
