{{<layout_example}}

{{$pageTitle}}Example: Radio buttons and checkboxes — Form elements — GOV.UK elements{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  {{>breadcrumb}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Form elements</span>
        Example: Radio buttons <br> and checkboxes
      </h1>
      <h2 class="heading-medium">
        These examples are one-question-per-page examples and use a heading for the question, with a visually hidden legend inside a fieldset.
      </h2>

      <p class="text">
        This test page demonstrates selection-buttons.js from the govuk frontend toolkit, which
        sets 'focused' and 'selected' states for the large hit area labels that wrap checkboxes and radio buttons.
      </p>

      <p class="text">
        It also demonstrates setting ARIA attributes when showing and hiding additional content.
      </p>

      <div class="form-section">
        <!-- "Chunky" Radio buttons, stacked -->
        {{> form_radio_buttons }}
      </div>

      <div class="form-section">
        <!-- Yes or No question (without revealed content ) -->
        {{> form_radio_buttons_inline }}
      </div>

      <div class="form-section">
        <!-- Radio buttons (select one option to reveal content) -->
        {{> form_radio_buttons_large }}
      </div>

      <div class="form-section">
        <!-- Yes or No question (select one option to reveal content) -->
        {{> form_radio_inline_yes_no }}
      </div>

      <div class="form-section">
        <!-- Radio buttons (select one option to reveal content) -->
        {{> form_inset_radios }}
      </div>

      <div class="form-section">
        <!-- "Chunky" Checkboxes, stacked -->
        {{> form_checkboxes }}
      </div>

      <div class="form-section">
        <!-- Checkboxes (select more than option to reveal content) -->
        {{> form_inset_checkboxes }}
      </div>

    </div>
  </div>
</main><!-- /#content-->
{{/content}}

{{/layout_example}}
